<%- include('head') %>

<form action="/form" method="post">
    <% if (invalidUserName) { %>
    <p style="color: red">Field "name" is required </p>
    <% } else { %>
    <p>Name</p>
    <% } %>
    <input value="<%- userName %>" name="userName" type="text">
    <% if (invalidUserSurname) { %>
      <p style="color: red">Field "Surname" is required </p>
    <% } else { %>
      <p>Surname</p>
    <% } %>
    <input value="<%- userSurname %>" name="userSurname" type="text">
    <p></p>
    <button type="submit">
        Send
    </button>
</form>

<% include('footer') %>
