<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>FileStorage</h1>

    <div id="progress"></div>

    <div class="error"></div>

    <form id="form" enctype="multipart/form-data" method="POST">
        <input id="myFile" type="file" name="myFile" />
        <input type="text" name="comment" placeholder="description">
        <input type="submit" value="Upload a file"/>
    </form>

    <h1>List</h1>

    <ul>
        <% for (let key in files) { %>
           <li>
               <%= files[key].originalName %> <br>
               <%= files[key].comment %> <br>
               <a download="<%= files[key].originalName %>" href="/files/<%= key %>">Скачать</a>
               <hr>
           </li>
        <% } %>
    </ul>


    <script src="script.js"></script>
</body>
</html>
