<h1>Регистрация</h1>

<% if (error) { %>
    <p style="color: red"><%= error %></p>
<% } %>

<form action="/register" method="post">
    <input placeholder="email" type="email" name="email">
    <input placeholder="name" type="text" name="name">
    <input placeholder="password" type="password" name="password">

    <input type="submit" value="register">
</form>

<p>Если вы уже зарегистрированы, то вы можете <a href="/">Войти</a></p>


